/* --------------------- */
/* Components */
/* --------------------- */

.key {
  display: grid;
  place-content: center;
  padding: 1rem;
  margin: 0.35rem;
  border-radius: 7px;
  cursor: pointer;
  max-height: 60px;
}

.display {
  grid-column: 1 / 5;
  font-size: 3rem;
  padding-inline: 0.5rem;
  border-radius: 10px;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

.equals {
  grid-column: 3 / 5;
}

.clear {
  grid-column: 1 / 3;
}

.error-message {
  grid-column: 1 / 5;
}

.delete,
.clear,
.equals {
  font-size: var(--fs-400);
}

.delete:hover,
.clear:hover,
.equals:hover {
  opacity: 0.8;
}

.key:active {
  border: none;
  transform: translate(0, 4%);
}

.numbers {
  justify-content: space-around;
}

.switch {
  height: 20px;
  width: 66px;
  position: relative;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.indicator {
  position: absolute;
  aspect-ratio: 1;
  width: 14px;
  border-radius: 50%;
  left: 3;
  transition: all 250ms ease;
}

/* --------------------- */
/* Animations */
/* --------------------- */

.go-right-1 {
  left: 25px;
}
.go-right-2 {
  left: 50px;
}
.go-left {
  left: 3px;
}

/* --------------------- */
/* Layout */
/* --------------------- */

.grid-container {
  text-align: center;
  display: grid;
  padding: 1rem;
}

.container-main {
  --gap: 1rem;
  flex-direction: column;
  transform: translate(0%, 20%);
}

.container-calculator {
  background-color: var(--clr-blue-400);
  grid-template-columns: repeat(4, minmax(70px, 100px));
  grid-template-rows: repeat(5, 70px);
  border-radius: 15px;
}

.meta {
  font-size: 0.8rem;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.theme {
  align-items: center;
}

.container-switch {
  --gap: 0.2rem;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .key {
    margin: 0.6rem;
  }
}
