:root {
  /* theme 1 */
  --clr-background-1: hsl(222, 26%, 31%);
  --clr-switch-1: hsl(223, 31%, 20%);
  --clr-display-1: hsl(224, 36%, 15%);

  --clr-clear-1: hsl(225, 21%, 49%);
  --clr-clear-shadow-1: hsl(224, 28%, 35%);
  --clr-equals-1: hsl(6, 63%, 50%);
  --clr-equals-shadow-1: hsl(6, 70%, 34%);
  --clr-key-1: hsl(30, 25%, 89%);
  --clr-key-shadow-1: hsl(28, 16%, 65%);
  --clr-key-hover-1: rgb(255, 255, 255);

  --clr-text-1: hsl(221, 14%, 31%);

  /* theme 2 */
  --clr-background-2: hsl(0, 0%, 90%);
  --clr-switch-2: hsl(0, 5%, 81%);
  --clr-display-2: hsl(0, 0%, 93%);

  --clr-clear-2: hsl(185, 42%, 37%);
  --clr-clear-shadow-2: hsl(185, 58%, 25%);
  --clr-equals-2: hsl(25, 98%, 40%);
  --clr-equals-shadow-2: hsl(25, 99%, 27%);
  --clr-key-2: hsl(45, 7%, 89%);
  --clr-key-shadow-2: hsl(35, 11%, 61%);
  --clr-key-hover-2: rgb(255, 255, 255);

  --clr-text-2: hsl(60, 10%, 19%);

  /* theme 3 */
  --clr-background-3: hsl(268, 75%, 9%);
  --clr-switch-3: hsl(268, 71%, 12%);
  --clr-display-3: hsl(268, 71%, 12%);

  --clr-clear-3: hsl(281, 89%, 26%);
  --clr-clear-shadow-3: hsl(285, 91%, 52%);
  --clr-equals-3: hsl(176, 100%, 44%);
  --clr-equals-shadow-3: hsl(177, 92%, 70%);
  --clr-key-3: hsl(268, 47%, 21%);
  --clr-key-shadow-3: hsl(290, 70%, 36%);
  --clr-key-hover-3: hsl(281, 89%, 26%);

  --clr-text-3: hsl(52, 100%, 62%);
}

/* --------------------- */
/* Theme 1 */
/* --------------------- */

.theme-1 body {
  background-color: var(--clr-background-1);
  color: var(--clr-text-1);
}

.theme-1 .key {
  background-color: var(--clr-key-1);
  border-bottom: 5px solid var(--clr-key-shadow-1);
}

.theme-1 .number:hover,
.theme-1 .operator:hover {
  background-color: var(--clr-key-hover-1);
}

.theme-1 .equals {
  color: white;
  background-color: var(--clr-equals-1);
  border-bottom: 5px solid var(--clr-equals-shadow-1);
}

.theme-1 .error-message {
  color: var(--clr-equals-1);
}

.theme-1 .delete,
.theme-1 .clear {
  color: white;
  background-color: var(--clr-clear-1);
  border-bottom: 5px solid var(--clr-clear-shadow-1);
}

.theme-1 .switch {
  background-color: var(--clr-switch-1);
}

.theme-1 .indicator {
  background-color: var(--clr-equals-1);
}

.theme-1 .container-calculator {
  background-color: var(--clr-switch-1);
}

.theme-1 .display {
  background-color: var(--clr-display-1);
  color: white;
}

.theme-1 .meta {
  color: white;
}

/* --------------------- */
/* Theme 2 */
/* --------------------- */
.theme-2 body {
  background-color: var(--clr-background-2);
  color: var(--clr-text-2);
}

.theme-2 .key {
  background-color: var(--clr-key-2);
  border-bottom: 5px solid var(--clr-key-shadow-2);
}

.theme-2 .number:hover,
.theme-2 .operator:hover {
  background-color: var(--clr-key-hover-2);
}

.theme-2 .equals {
  color: white;
  background-color: var(--clr-equals-2);
  border-bottom: 5px solid var(--clr-equals-shadow-2);
}

.theme-2 .error-message {
  color: var(--clr-equals-2);
}

.theme-2 .delete,
.theme-2 .clear {
  color: white;
  background-color: var(--clr-clear-2);
  border-bottom: 5px solid var(--clr-clear-shadow-2);
}

.theme-2 .switch {
  background-color: var(--clr-switch-2);
}

.theme-2 .indicator {
  background-color: var(--clr-equals-2);
}

.theme-2 .container-calculator {
  background-color: var(--clr-switch-2);
}

.theme-2 .display {
  background-color: var(--clr-display-2);
  color: black;
}

.theme-2 .meta {
  color: black;
}

/* --------------------- */
/* Theme 3 */
/* --------------------- */
.theme-3 body {
  background-color: var(--clr-background-3);
  color: var(--clr-text-3);
}

.theme-3 .key {
  background-color: var(--clr-key-3);
  border-bottom: 5px solid var(--clr-key-shadow-3);
}

.theme-3 .number:hover,
.theme-3 .operator:hover {
  background-color: var(--clr-key-hover-3);
}

.theme-3 .equals {
  color: black;
  background-color: var(--clr-equals-3);
  border-bottom: 5px solid var(--clr-equals-shadow-3);
}

.theme-3 .error-message {
  color: var(--clr-equals-3);
}

.theme-3 .delete,
.theme-3 .clear {
  color: white;
  background-color: var(--clr-clear-3);
  border-bottom: 5px solid var(--clr-clear-shadow-3);
}

.theme-3 .switch {
  background-color: var(--clr-switch-3);
}

.theme-3 .indicator {
  background-color: var(--clr-equals-3);
}

.theme-3 .container-calculator {
  background-color: var(--clr-switch-3);
}

.theme-3 .display {
  background-color: var(--clr-background-3);
  color: var(--clr-text-3);
}

.theme-3 .meta {
  color: var(--clr-text-3);
}
